* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* COLORS ------------------------------------------------------------ */

body {
    background: url("../img/bg-purple.png") repeat;  /* from https://pattern8.com/ - with edits */
    color: black;
}

body, header, footer, main a:hover, aside a:hover, #submit:hover {
    background-color: #191919;
}

#submit, #submit:hover {
    border-color: #191919;
}

nav, .cssmenu ul ul a:hover {
    background-color: #0d0d0d;
}

main {
    background-color: #e5e5e5;
}

aside, code, pre, #submit {
    background-color: #bfbfbf;
}

nav, footer, footer a, .cssmenu > ul > li > a {
    color: white;
}

main a:link {
    color: #7928a1;
    border-bottom: 2px solid;
}

pre {
    border-left: 2px solid #7928a1;
}

aside a:link {
    color: #7600a8;  /* slightly darker */
}

header, footer a:hover, main a:hover, aside a:hover, .cssmenu ul ul a:hover {
    color: #be90d4;
    border-color: #be90d4;
}

#submit:hover {
    color: #be90d4;    
}

.cssmenu > ul > li > a:hover, .cssmenu > ul > li.active {
    background-color: #be90d4;
}

.cssmenu ul ul a, .cssmenu > ul > li > a:hover, .cssmenu > ul > li.active {
    color: black;
}

main a:visited, aside a:visited {
    color: gray;
    border-color: gray;
}

.frame {
    border: 1px solid gray;
}

fieldset {
    border: none;
    border-top: 1px solid gray;
}

.cssmenu ul ul {
    background: #F9F9F9;
    border: 1px solid #CCC;
}

/* END COLORS ------------------------------------------------------------ */


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;    
}

header, nav, main, aside, footer {
    border-radius: 3px;
}

a {
    text-decoration: none;
}

main a, aside a {
    padding: 1px;
    border-radius: 2px;
}

.reference p {
    text-indent: -14px;
    margin-left: 14px;
}

.research img {
    display: block;
    margin: 30px auto;
}

    
.container {
    margin: 0px auto;
    min-height: 100vh;
    max-width: 1920px;
    display: grid;

    grid-template-columns: 7fr 3fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
        "header header"
        "nav nav"
        "main aside"
        "footer footer";

    padding: 10px;
    row-gap: 10px;
    column-gap: 10px;
}

header {
    grid-area: header;
    padding: 20px;    
}

i.logo {
    font-size: .5em;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.25em;
    margin-bottom: 14px;
}

h3 {
    font-size: 1.10em;
    margin-top: 20px;
    margin-bottom: 10px;
}

code, pre {
    padding: 2px;
    border-radius: 2px;
}

nav {
    grid-area: nav;
    /* position: -webkit-sticky;
    position: sticky; */
    top: 0px;
    padding: 10px;
}

main, aside {
    padding: 20px;
    line-height: 150%;
}

main {
    grid-area: main;
}

main p, aside p, aside ul {
    margin-bottom: 12px;
}

main p:last-of-type, aside p:last-of-type, aside ul:last-of-type {
    margin-bottom: 0px;
}

aside {
    grid-area: aside;
}

aside p {
    font-size: 0.875em;
    line-height: 140%;
}

aside ul {
    line-height: 140%;
}

aside li {
    list-style-type: none;
    list-style-position: outside;
    margin-left: 14px;
    font-size: 0.875em;
}

footer {
    grid-area: footer;
    padding: 10px;
    font-size: 0.6875em;
    text-transform: uppercase;
}

.left {
    float: left;
}

.right {
    float: right;
}

.hide {
    display: none;
}

.frame {
    width: 100%;
    min-height: 500px;
}

.boxy {
    width: 100%;
    margin: 10px auto;
    min-height: 240px;
    border: none;
}

.border {
    width: 100%;
    min-height: 249px;
    border: none;
}

.breakfooter {
    display: none;
}


form > div {
    margin-bottom: 14px;
}

form > div:last-of-type {
    margin-bottom: 0px;
}

form > div:nth-last-of-type(2) {
    margin-bottom: 5px;
}

input, textarea, select {
    padding: 4px;
}

.input-box {
    min-width: 300px;
}

textarea {
    min-width: 300px;
    min-height: 100px;
}

#submit {
    width: 5em;
    border: 1px solid;
}



@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto auto;
        grid-template-areas: 
            "header"
            "nav"
            "main"
            "aside"
            "footer";
    }
}

@media screen and (max-width: 425px) {
    .input-box {
        min-width: 80%;
    }

    textarea {
        min-width: 100%;
    }

    footer {
        text-align: center;
        line-height: 133%;
    }

    .left {
        float: none;
    }

    .right {
        float: none;
    }
}

@media screen and (max-width: 320px) {
    .input-box, textarea {
        min-width: 100%;
    }

    .breakfooter {
        display: inline;
    }
}


/* 
resize reCAPTCHA box:
https://geekgoddess.com/how-to-resize-the-google-nocaptcha-recaptcha/
 */
 .g-recaptcha {
    margin-top: 5px;
    transform: scale(0.66);
    -webkit-transform: scale(0.66);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}