/* LAYOUT COLORS & LINKS */

header {
    background-color: #8d9db6;
}

article a:link {
    border-bottom: 2px solid #8d9db6;
}

article a:visited {
    color: gray;  /* text */
}

nav, footer {
    background-color: #667292;
}

body, article, .currentPage {
    background-color: #f1e3dd;
}

aside, nav a:hover, nav a:active, article a:hover, article a:active {
    background-color: #bccad6;
}

body, article, .currentPage, aside, nav a:hover, nav a:active, article a:link, article a:hover, article a:active {
    color: black;  /* text */
}

footer, footer a, footer a:visited {
    color: #10121e;  /* text */
}

footer a:hover, footer a:active, nav li a {
    color: white;  /* text */
}
