/* LAYOUT COLORS & LINKS */

/* MEDIUM */
header {
    background-color: #99be71;
}

main a:link {
    border-bottom: 2px solid #99be71;
}

main a:visited {
    color: gray;  /* text */
}

/* DARK */
nav, footer {
    background-color: #527d24;
}

/* BODY */
body, main, .currentPage {
    background-color: #ddddd8;
}

/* LIGHT */
aside, nav a:hover, nav a:active, main a:hover, main a:active, #submit:hover {
    background-color: #b5cc99;
}

#submit {
    background-color: #c9c9c9;
}

body, main, .currentPage, aside, nav a:hover, nav a:active, main a:link, main a:hover, main a:active {
    color: black;  /* text */
}

footer, footer a, footer a:visited, nav li a {
    color: white;  /* text */
}

footer a:hover, footer a:active {
    color: black;  /* text */
}
