/* LAYOUT COLORS & LINKS */

/* MEDIUM */
header {
    background-color: #7aa6d2;
}

article a:link {
    border-bottom: 2px solid #7aa6d2;
}

article a:visited {
    color: gray;  /* text */
}

/* DARK */
nav, footer {
    background-color: #59769c;
}

/* BODY */
body, article, .currentPage {
    background-color: #f1e3dd;
}

/* LIGHT */
aside, nav a:hover, nav a:active, article a:hover, article a:active, #submit:hover {
    background-color: #afc7dd;
}

#submit {
    background-color: #c9c9c9;
}

body, article, .currentPage, aside, nav a:hover, nav a:active, article a:link, article a:hover, article a:active {
    color: black;  /* text */
}

footer, footer a, footer a:visited {
    color: black;  /* text */
}

footer a:hover, footer a:active, nav li a {
    color: white;  /* text */
}
