/* RESPONSIVE LAYOUT */

@media screen and (max-width: 768px) {   /* TABLET */
    .tablet {
        display: inline-block;
    }
    
    .phone, .desktop {
        display: none;
    }

    .breakAside {
        display: inline;
    }
}

@media screen and (max-width: 615px) {   /* LAYOUT BREAKS */
    nav {
        line-height: 133%;
    }

    nav ul {
        margin-left: 0px;
        padding: 5px 0px;
        list-style-type: none;
        list-style-position: outside;
    }
    
    nav li {
        display: block;
    }
    
    nav li a {
        padding: 0px 10px;
    }

    #content {
        flex-direction: column;
    }
    
    main {
        width: 100%;
        order: 2;
    }
    
    aside {
        width: 100%;
        order: 1;
        padding: 0px 0px 18px 0px;
        background: none;
    }

    aside p {
        padding-right: 10px;
    }

    footer {
        text-align: center;
        line-height: 125%;
    }

    .left {
        float: none;
        padding-left: 0px;
    }
    
    .right {
        float: none;
        padding-right: 0px;
    }

    .phone {
        display: inline-block;
    }
    
    .desktop, .tablet {
        display: none;
    }
}

@media screen and (max-width: 435px) {   /* PHONE */
    #mainTitle {
        font-size: 1.5em;
    }

    .breakFooter {
        display: inline;
    }
}

@media screen and (max-width: 330px) {   /* PHONE */
    #mainTitle {
        font-size: 1.25em;
    }
}
