* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Asul Regular';
    src: url('../media/Asul-Regular.ttf') format('truetype');
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

#container {
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    flex-direction: column;
}

header {
    text-align: left;
}

#mainTitle {
    padding: 10px;
    font-family: 'Asul Regular', serif;
    font-size: 2em;
    font-weight: normal;
}

#greeting {
    font-size: 1.25em;
}

h3, p {
    margin-bottom: 12px;
}

p:last-child {
    margin-bottom: 0px;
}

footer {
    padding: 10px 0px;
    font-size: .66em;
    text-transform: uppercase;
}

.left {
    float: left;
    padding-left: 10px;
}

.right {
    float: right;
    padding-right: 10px;
}

.hide {
    display: none;
}

header, footer {
    width: 100%;
    flex-grow: 0;
}

section {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    line-height: 150%;
}

article, aside {
    padding: 18px 22px;
}

article {
    width: 100%;
    order: 1;
}

aside {
    width: 34%;
    order: 2;
}

aside img {
    width: 100%;
    text-align: center;
}

aside p {
    line-height: 125%;
    font-size: .75em;
    text-align: right;
}

a {
    text-decoration: none;
}

article a {
    padding: 2px;
}


/* MENU */

nav {
    width: 100%;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
}

nav ul {
    margin-left: -6px;
    padding: 10px;
    list-style-type: none;
    list-style-position: outside;
}

nav li {
    display: inline;
}

nav li a {
    padding: 10px;
    padding-top: 9px;
}


/* LAYOUT COLORS & LINKS */

header {
    background-color: #8d9db6;
}

article a:link {
    border-bottom: 2px solid #8d9db6;
}

article a:visited {
    color: gray;  /* text */
}

nav, footer {
    background-color: #667292;
}

body, article, .currentPage {
    background-color: #f1e3dd;
}

aside, nav a:hover, nav a:active, article a:hover, article a:active {
    background-color: #bccad6;
}

body, article, .currentPage, aside, nav a:hover, nav a:active, article a:link, article a:hover, article a:active {
    color: black;  /* text */
}

footer, footer a, footer a:visited {
    color: #10121e;  /* text */
}

footer a:hover, footer a:active, nav li a {
    color: white;  /* text */
}


/* RESPONSIVE LAYOUT */

@media screen and (max-width: 615px) {
    nav {
        line-height: 125%;
    }

    nav ul {
        margin-left: 0px;
        padding: 5px 0px;
        list-style-type: none;
        list-style-position: outside;
    }
    
    nav li {
        display: block;
    }
    
    nav li a {
        padding: 0px 10px;
    }

    section {
        flex-direction: column;
    }
    
    article {
        width: 100%;
        order: 2;
    }
    
    aside {
        width: 100%;
        order: 1;
        padding: 0px 0px 18px 0px;
        background: none;
    }

    aside p {
        padding-right: 10px;
    }

    footer {
        text-align: center;
        line-height: 125%;
    }

    .left {
        float: none;
        padding-left: 0px;
    }
    
    .right {
        float: none;
        padding-right: 0px;
    }
}

@media screen and (max-width: 420px) {
    #mainTitle {
        font-size: 1.5em;
    }
}